.full-page {
  height: 100vh;
  overflow: hidden !important;
}

.transition-opacity {
  animation: fade 0.5s ease-out 0s 1 reverse forwards;
}

.bubble-container {
}

/* Pour ajouter du contenu à l'intérieur de la .bubble-container */
.bubble-content {
}

.anim-rotate-translate {
  position: relative;
  animation: rotate-translate 1s ease-out 0.5s both;
}

.anim-jig {
  animation: jig 2s linear 2s infinite none;
}

.anim-translate-bounce {
  position: relative;
  animation: translate-bounce 0.5s linear 0.5s both;
}

.anim-fade-out {
  animation: fade 0.5s ease-out 0s 1 normal forwards;
}
.anim-fade-in {
  animation: fade 0.5s ease-out 0s 1 reverse forwards;
}

.anim-left-outside {
  animation: left-translate 0.5s ease-out 0s 1 normal forwards;
}
.anim-left-inside {
  animation: left-translate 0.5s ease-out 0s 1 reverse forwards;
}

.anim-right-outside {
  animation: right-translate 0.5s ease-out 0s 1 normal forwards;
}
.anim-right-inside {
  animation: right-translate 0.5s ease-out 0s 1 reverse forwards;
}

@keyframes rotate-translate {
  0% {
    transform: translateX(-100vw) rotate(-100deg);
  }
  80% {
    transform: translateX(2vw) rotate(370deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes jig {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes translate-bounce {
  0% {
    transform: translateY(-200px);
  }
  35% {
    transform: translateY(0) scaleX(100%) scaleY(100%);
  }
  50% {
    transform: translateY(35px) scaleX(150%) scaleY(50%);
  }
  90%,
  100% {
    transform: translateY(0) scaleX(100%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes left-translate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes right-translate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
