.menu-button {
  border-radius: 0px 0px 50% 50%;
}

.menu-gradient {
  background: linear-gradient(180deg, rgb(223, 130, 192) 50%, rgb(171, 116, 254) 100%);
}

.menu-gradient-bottom {
  background-color: rgb(171, 116, 254);
}
