:root {
  --radial-menu-button-radius: initial;
  --radial-menu-li-radius: initial;
}

#radial-menu {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  list-style-type: none;
  z-index: 100;
}

#radial-menu > a {
  width: calc(var(--radial-menu-button-radius) * 2);
  height: calc(var(--radial-menu-button-radius) * 2);
}

#radial-menu > a:hover {
  transition: box-shadow 0.3s ease-in-out 0s !important;
  box-shadow: inset 0rem 1rem white;
}

#radial-menu > li {
  width: calc(var(--radial-menu-li-radius) * 2);
  height: calc(var(--radial-menu-li-radius) * 2);
  position: absolute;
  top: calc(var(--radial-menu-button-radius) - var(--radial-menu-li-radius));
  left: calc(var(--radial-menu-button-radius) - var(--radial-menu-li-radius));
  border-radius: 50%;
  z-index: -1;
}

#radial-menu > li:hover {
  transition: box-shadow 0.3s ease-in-out 0s !important;
  box-shadow: inset 0rem 1rem white;
}

.radial-menu-visible {
  opacity: 1;
}

.radial-menu-hidden {
  opacity: 0;
}
