@font-face {
  font-family: "EduAUVICWANTHand";
  src: url("../assets/polices/EduAUVICWANTHand-Medium.ttf");
}

body.page-root {
  overflow: hidden;
}

.background-gradient {
  background: linear-gradient(180deg, rgb(223, 130, 192) 0%, rgb(171, 116, 254) 30%);
}

.handwriting {
  font-family: "EduAUVICWANTHand";
}
