body.page-home {
  overflow-x: hidden;
}

@media (max-width: 576px) {
  .footer-icon {
    height: 2.5rem !important;
  }
}
@media (min-width: 576px) {
  .footer-icon {
    height: 3em !important;
  }
}
