body.page-home {
  overflow-x: hidden;
}

.menu-gradient {
  background: linear-gradient(180deg, rgb(223, 130, 192) 50%, rgb(171, 116, 254) 100%);
}

.menu-gradient-bottom {
  background-color: rgb(171, 116, 254);
}

@media (max-width: 576px) {
  .footer-icon {
    height: 2.5rem !important;
  }
}
@media (min-width: 576px) {
  .footer-icon {
    height: 3em !important;
  }
}
