
// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

@media (max-width: 450px) {
  /* styles for screens 900px wide or wider */
  html, body {
      font-size: 15px;
  }
}

// Background colors
.bg-indigo-100 {background-color: $indigo-100;}
.bg-indigo-200 {background-color: $indigo-200;}
.bg-indigo-300 {background-color: $indigo-300;}
.bg-indigo-400 {background-color: $indigo-400;}
.bg-indigo-500 {background-color: $indigo-500;}

.bg-pink-100 {background-color: $pink-100;}
.bg-pink-200 {background-color: $pink-200;}
.bg-pink-300 {background-color: $pink-300;}
.bg-pink-400 {background-color: $pink-400;}
.bg-pink-500 {background-color: $pink-500;}

.bg-orange-100 {background-color: $orange-100;}
.bg-orange-200 {background-color: $orange-200;}
.bg-orange-300 {background-color: $orange-300;}
.bg-orange-400 {background-color: $orange-400;}
.bg-orange-500 {background-color: $orange-500;}

.bg-teal-100 {background-color: $teal-100;}
.bg-teal-200 {background-color: $teal-200;}
.bg-teal-300 {background-color: $teal-300;}
.bg-teal-400 {background-color: $teal-400;}
.bg-teal-500 {background-color: $teal-500;}

.bg-cyan-100 {background-color: $cyan-100;}
.bg-cyan-200 {background-color: $cyan-200;}
.bg-cyan-300 {background-color: $cyan-300;}
.bg-cyan-400 {background-color: $cyan-400;}
.bg-cyan-500 {background-color: $cyan-500;}

.bg-blue-100 {background-color: $blue-100;}
.bg-blue-200 {background-color: $blue-200;}
.bg-blue-300 {background-color: $blue-300;}
.bg-blue-400 {background-color: $blue-400;}
.bg-blue-500 {background-color: $blue-500;}

.bg-gray-100 {background-color: $gray-100;}
.bg-gray-200 {background-color: $gray-200;}
.bg-gray-300 {background-color: $gray-300;}
.bg-gray-400 {background-color: $gray-400;}
.bg-gray-500 {background-color: $gray-500;}
.bg-gray-600 {background-color: $gray-600;}
.bg-gray-700 {background-color: $gray-700;}
.bg-gray-800 {background-color: $gray-800;}
.bg-gray-900 {background-color: $gray-900;}

// Text colors
.text-indigo-100 {color: $indigo-100;}
.text-indigo-200 {color: $indigo-200;}
.text-indigo-300 {color: $indigo-300;}
.text-indigo-400 {color: $indigo-400;}
.text-indigo-500 {color: $indigo-500;}

.text-pink-100 {color: $pink-100;}
.text-pink-200 {color: $pink-200;}
.text-pink-300 {color: $pink-300;}
.text-pink-400 {color: $pink-400;}
.text-pink-500 {color: $pink-500;}

.text-orange-100 {color: $orange-100;}
.text-orange-200 {color: $orange-200;}
.text-orange-300 {color: $orange-300;}
.text-orange-400 {color: $orange-400;}
.text-orange-500 {color: $orange-500;}

.text-teal-100 {color: $teal-100;}
.text-teal-200 {color: $teal-200;}
.text-teal-300 {color: $teal-300;}
.text-teal-400 {color: $teal-400;}
.text-teal-500 {color: $teal-500;}

.text-cyan-100 {color: $cyan-100;}
.text-cyan-200 {color: $cyan-200;}
.text-cyan-300 {color: $cyan-300;}
.text-cyan-400 {color: $cyan-400;}
.text-cyan-500 {color: $cyan-500;}

.text-blue-100 {color: $blue-100;}
.text-blue-200 {color: $blue-200;}
.text-blue-300 {color: $blue-300;}
.text-blue-400 {color: $blue-400;}
.text-blue-500 {color: $blue-500;}

.text-gray-100 {color: $gray-100;}
.text-gray-200 {color: $gray-200;}
.text-gray-300 {color: $gray-300;}
.text-gray-400 {color: $gray-400;}
.text-gray-500 {color: $gray-500;}
.text-gray-600 {color: $gray-600;}
.text-gray-700 {color: $gray-700;}
.text-gray-800 {color: $gray-800;}
.text-gray-900 {color: $gray-900;}

// Border colors
.border-indigo-100 {border-color: $indigo-100;}
.border-indigo-200 {border-color: $indigo-200;}
.border-indigo-300 {border-color: $indigo-300;}
.border-indigo-400 {border-color: $indigo-400;}
.border-indigo-500 {border-color: $indigo-500;}

.border-pink-100 {border-color: $pink-100;}
.border-pink-200 {border-color: $pink-200;}
.border-pink-300 {border-color: $pink-300;}
.border-pink-400 {border-color: $pink-400;}
.border-pink-500 {border-color: $pink-500;}

.border-orange-100 {border-color: $orange-100;}
.border-orange-200 {border-color: $orange-200;}
.border-orange-300 {border-color: $orange-300;}
.border-orange-400 {border-color: $orange-400;}
.border-orange-500 {border-color: $orange-500;}

.border-teal-100 {border-color: $teal-100;}
.border-teal-200 {border-color: $teal-200;}
.border-teal-300 {border-color: $teal-300;}
.border-teal-400 {border-color: $teal-400;}
.border-teal-500 {border-color: $teal-500;}

.border-cyan-100 {border-color: $cyan-100;}
.border-cyan-200 {border-color: $cyan-200;}
.border-cyan-300 {border-color: $cyan-300;}
.border-cyan-400 {border-color: $cyan-400;}
.border-cyan-500 {border-color: $cyan-500;}

.border-blue-100 {border-color: $blue-100;}
.border-blue-200 {border-color: $blue-200;}
.border-blue-300 {border-color: $blue-300;}
.border-blue-400 {border-color: $blue-400;}
.border-blue-500 {border-color: $blue-500;}

.border-gray-100 {border-color: $gray-100;}
.border-gray-200 {border-color: $gray-200;}
.border-gray-300 {border-color: $gray-300;}
.border-gray-400 {border-color: $gray-400;}
.border-gray-500 {border-color: $gray-500;}
.border-gray-600 {border-color: $gray-600;}
.border-gray-700 {border-color: $gray-700;}
.border-gray-800 {border-color: $gray-800;}
.border-gray-900 {border-color: $gray-900;}